:root {
  --first-color: #c73a49;
  --second-color: #434c0b;
  --third-color: #aaaf93;
  --highlight-color: #c69306;
  --border-radius: 4px;
  --heading-font-family: "KoHo", sans-serif;
  --default-font-family: "Krub", sans-serif;
  --box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.12),
    0 4px 4px rgba(0, 0, 0, 0.12), 0 8px 8px rgba(0, 0, 0, 0.12),
    0 16px 16px rgba(0, 0, 0, 0.12);
}

body {
  font-family: var(--default-font-family);
  margin: 0;
  padding: 56px 0 0 0;
}

h1,
h2,
h3 {
  color: var(--first-color);
  font-family: var(--heading-font-family);
  font-weight: 500;
}

h1 {
  color: var(--second-color);
  font-size: 55px;
}

img {
  width: 300px;
}

p {
  line-height: 30px;
}

.bg-dark {
  background-color: var(--second-color) !important;
}

.site-logo {
  border: 1px solid white;
  border-radius: var(--border-radius);
  display: block;
  margin-left: 8px;
  height: 35px;
  width: 35px;
  position: relative;
  transform: rotate(0deg);
  transition: transform 0.4s ease-in-out;
}

.logo-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(0deg);
  transition: transform 0.4s ease-in-out;
}

.site-logo:hover {
  transform: rotate(-90deg);
  transform-origin: center;
  transition: 0.5s ease-in-out;
}

.site-logo:hover .logo-text {
  transform: translate(-50%, -50%) rotate(90deg);
  transform-origin: center;
}

.hero {
  position: relative;
  width: 100vw;
  height: calc(100vh - 56px);
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(/images/Hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  filter: brightness(70%);
}
.hero-content {
  position: relative;
}
.hero-content h1 {
  font-size: 96px;
  padding-top: 10px;
  color: white;
}

.icon-switzerland {
  color: var(--first-color);
}

.btn-main {
  font-family: var(--default-font-family);
  font-size: 18px;
  background-color: var(--second-color);
  border-color: var(--second-color);
  color: white;
  padding: 0 15px;
}
.btn-main:hover {
  color: var(--second-color);
  background-color: white;
  border-color: var(--second-color);
  font-weight: bold;
}

.btn-main:focus {
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgb(67 76 11 / 25%);
}

.header {
  background-color: #f7f2d5;
}
